.appattments {
}

.appattments_title {
    margin-bottom: 88px;
}

.apartments_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    // grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 30 px;
}
