.benefits {
    padding: 120px 0;
}
.benefits_row {
    display: flex;
    column-gap: 70px;
}
.benefits_item {
    text-align: center;
}
.benefits_item-img {
    margin-bottom: 53px;
}
.benefits_item-text {
    font-size: 20px;
    line-height: 1.35;
    font-family:  'Roboto', sans-serif;
    font-weight: 300;
}
